/** Here's some very basic styling to get you started **/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding-top: 2rem;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f1f1f1;
    color: #333333;
}

header, main, footer {
    max-width: 768px;
    margin: auto;
}

header, footer {
    text-align: center;
}

.form-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007b77;
}

ul {
    list-style: none;
    padding: 0 ;
}

label {
font-weight: bold;
margin-bottom: 5px;
display: block;
}

.submit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007b77;
    color: aliceblue;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.submit-button:hover {
background-color: #21a277;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

